.card {
  width: 30%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
} 
.upperCard {
  background-color: white;
}
.cardImage {
  width: 60%;
}
.bottomText {
  padding-left: 20%;
  padding-right: 20%;
  background-color: black;
  color: white;
  background-clip: content-box;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-top: 10%;
  }
  .cardImage {
  width: 75%;
  }
  .bottomText {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}